$color: #ffffff;

bti {
    %text-style
        {
            font-size: 20px;
            text-align: center;
        }

    %image-style
        {
            max-width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    .image, body
        {
            @extend %text-style;
        }

    .image, .smallimg
        {

        }

    .image
        {
            @extend %image-style;
            width: auto;

        }

    body
        {
            color: $color;
            word-wrap: break-word;
            text-align: center;
        }

    .smallimg
        {
            @extend %image-style;
            width: 20%;
        }
    }