$color: #ffffff;

%text-style
    {
        font-size: 20px;
        text-align: center;
    }

.image
    {
        @extend %text-style;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }

body
    {
        color: white;
    }