            /*Stylesheet file*/
            body
            {
                background-color: #659DBD;
            }

            /*Form for the navigation bar*/
            form
            {
                /*text-align: center;*/
                padding-top: 1%;
                padding-bottom: 3%;
                padding-left: 40%;
            }

            /*Title ID*/
            #title
            {
                font-family: arial, sans-serif;
                font-size: 32px;
                font-weight: bold;
                text-align: center;
                color: #ffffff;
            }

            /*Sub-Title ID*/
            #subtitle
            {
                font-family: arial, sans-serif;
                font-size: 25px;
                font-weight: bold;
                text-align: center;
                color: #ffffff;
            }

            /*Center text class*/
            .center
            {
                text-align: center;
            }

            /*Large font class*/
            .largefont
            {
                font-size: 25px;
            }

            /*.body*/
            /*{*/
            /*    text-align: center;*/
            /*}*/

            h3, ul
            {
                font-family: arial, sans-serif;
                font-size: 20px;
                font-weight: bold;
                text-align: left;
                list-style-position: inside;
                padding-left: 38%;
                color: #ffffff;
            }

            a:link, a:visited
            {
                color: #ffffff;
            }

            a:hover
            {
                color: #fbeec1;
            }

            border
            {
                border: 5px solid white;
            }

            table
            {
                word-wrap: break-word;
                font-family: arial, sans-serif;
                border: 5px solid white;
                border-collapse: collapse;
                margin: auto;
                color: #ffffff;
            }

            td, th
            {
                border: 2.5px solid white;
            }